ul {
  list-style: none;
  margin: 2em 1em;
  padding: 0;
  font-size: 1.2em;
}
ul li {
  margin: 0;
  margin-bottom: 0.3em;
  padding-left: 1em;
  position: relative;
}
ul li:after {
  content: '';
  height: .4em;
  width: .4em;
  background: #fff;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: .5em;
  left: 0;
}

.service-image-container {
  height: 90px;
  display: flex;
  align-items: flex-end;
  justify-content: center
}

.service-image-container .services-icon {
  margin-bottom: 0
}

.content-white {
  color: white;
}

@media (max-width: 479px) {
  .services-content .services-body {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center
  }
}

@media (min-width: 480px) {
  .services-content .services-body {
    height: 125px;
  }
}

.image-project-custom {
  width: 18em;
}